.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: #393e48;
}

.content {
  margin-top: 50px;
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-private {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-login {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  margin: 8px;
  width: 300px;
}

.App-error {
  margin-top: 8px;
  color: darkred;
}

.navbar-container {
  background-color: #215388 !important;
  margin: 0;
  max-width: 100% !important;
}

.navbar {
  background-color: #215388 !important;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  color: white !important;
  width: 100%;
}

.chart-container {
  margin-top: 10px;
}

.highcharts-container {
  margin: 10px;
  border: 1px solid #215388;
  width: auto !important;
  padding-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
